<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "掲載中のスーツケース", suitcases_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><%= link_to "貸す予定", your_reservations_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "借りる予定", your_trips_path, class: "sidebar-link" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Suitcases
			</div>
			<div class="panel-body">
				
				<% @suitcases.each do |suitcase| %>
					<div class="row">
						<div class="col-md-2">
							<%= image_tag suitcase.photos[0].image.url(:thumb) if suitcase.photos.length > 0 %>
						</div>		
						<div class="col-md-7">
							<!--<h4><= suitcase.listing_name %></h4>-->
						</div>		
						<div class="col-md-3 right">
							<%= link_to "アップデート", edit_suitcase_path(suitcase), class: "btn btn-primary" %>
						</div>		
					</div>
					<hr>
				<% end %>

			</div>
		</div>
	</div>
</div>
