<div class="panel panel-default">
	<div class="panel-body">
		
		<!-- Image -->
		<div class="row">
			<div class="col-md-12">
				<h4><%= @suitcase.listing_name %></h4>
				<%= image_tag @photos[0].image.url(), class: "img-responsive" if @photos.length > 0 %>
			</div>
		</div>

		<br>

		<!-- Main Info -->
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-3 text-center">
						<%= link_to image_tag(avatar_url(@suitcase.user), class: "img-circle avatar-large"), @suitcase.user %>
						<br><br>
						<%= @suitcase.user.fullname %>
					</div>

					<div class="col-md-9">
						<br>

						<div class="row text-center row-space-1">
							<div class="col-sm-3">
								<i class="fa fa-suitcase fa-2x"></i>
							</div>
							<div class="col-sm-3">
								<i class="fa fa-expand fa-2x"></i>
							</div>
							<div class="col-sm-3">
								<i class="fa fa-lock fa-2x"></i>
							</div>
						</div>

						<div class="row text-center">
							<div class="col-sm-3">
								<%= @suitcase.case_type %>
							</div>
							<div class="col-sm-3">
								<%= @suitcase.case_size %>
							</div>
							<div class="col-sm-3">
								<div id="<%= 'text-line-through' if !@suitcase.has_key %>">Key</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-md-4">
				<!-- Reservation form -->	
				<%= render 'reservations/form' %>
			</div>
		</div>

		<!-- About -->
		<div class="row">
			<div class="col-md-12">
				<h2>このスーツケースについて</h2>
				<p><%= @suitcase.summary %></p>
			</div>
		</div>

		<!-- Carousel -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  
					<% if @photos %>
						<!-- Indicators -->
				    <ol class="carousel-indicators">
							<% @photos.each do |photo| %>
								<li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
							<% end %>	
						</ol>				
					<% end %>     

				  <div class="carousel-inner" role="listbox">
				    <% if @photos %>				
							<% @photos.each do |photo| %>
								<div class="item <%= 'active' if photo.id == @photos[0].id %>">          
				          <%= image_tag photo.image.url() %>
				        </div>
							<% end %>	
						<% end %>
				  </div>

				  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			</div>
		</div>
		
		<!-- Reviews -->
		<div class="row">
			<div class="col-md-12">
				<h3>レビュー <span id="average_rating"></span> (<%= @reviews.count %>)</h3>
				<div class="container">
					<div>
						<%= render 'reviews/form' if @booked && !@hasReview %>
					</div>
					<div>
						<%= render 'reviews/list' %>
					</div>
				</div>
			</div>
		</div>
		
		


	</div>
</div>

<script>
	$('#average_rating').raty({
		path: '/assets',
		readOnly: true,
		score: <%= @suitcase.average_rating %>
	});
</script>