<div class="row">
	<div class="col-md-3">
		<div class="center">
			<%= link_to image_tag(avatar_url(@user), class: "avatar-full"), @user %>
			<% if current_user != @user %>
				<div class="row-space-2">
					<%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide" %>
				</div>
			<% end %>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Verification</div>	
			<div class="panel-body">
				メールアドレス<br>
				電話番号
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<h2><%= @user.fullname %></h2>

		<div class="description row-space-3">
			<%= @user.description %>
		</div>

		<h4><%= @user.fullname%>のスーツケース (<%= @suitcases.length %>)</h4><br>

		<div class="row">
			
			<% @suitcases.each do |suitcase| %>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading preview">
							<%= link_to image_tag(suitcase.photos[0].image.url(:medium)), suitcase  %>
						</div>
						<div class="panel-body">
							<%= link_to "このスーツケースを見る", suitcase %>
						</div>
					</div>
				</div>
			<% end %>

		</div>
		
		<h4>Reviews</h4><br>

		<% @suitcases.each do |suitcase| %>
			<% if !suitcase.reviews.blank? %>

				<% suitcase.reviews.each do |review| %>
					<div class="row">
						<div class="col-md-2 text-center">
							<%= link_to image_tag avatar_url(review.user), class: "img-circle avatar-medium" %><br>
							<%= review.user.fullname %>
						</div>
						<div class="col-md-10">
							<!--%= link_to suitcase.listing_name, suitcase %><br-->
							<%= review.comment %><br>
							<%= review.created_at.strftime("%v") %>
						</div>
					</div>
				<% end %>

			<% end %>
		<% end %>

	</div>
</div>