<div class="row">
	<div class="col-md-12">
		<div class="cover" style="background-image: url('/assets/カバー.JPG')">
			<div class="va-container">
				<div class="va-middle text-center">
					<h1><strong>CaseShared</strong></h1>
					<p>Share cool suitcases, get your trip style.</p>
					<p>※3月中旬リリース予定です。それまでスーツケースの登録をお待ちしております。</p>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="text-center">
	<h2 style="color:#191970">CaseSharedとは</h2>
	<p>スーツケースを眠らせていませんか？あるいは、欲しいスーツケースが高価で悩んでいませんか？</p>
	   この二人をマッチングするサービスです。
</div>
<br>

<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<div class="explain">
			<div class="ex-container-rent">
				<div class="ex-middle text-center">
					<br>
					<i class="fa fa-user fa-5x" style="color:#00BFFF"></i>
					<h2><strong>スーツケースを貸す</strong></h2>
					<p>
						普段使っていないスーツケースを誰かに貸してあげましょう。<br>
						あなたの相棒は働きたがっているかもしれませんよ！
					</p>
					<p>
						<%= link_to "登録", new_suitcase_path, class: "btn btn-info" %>
					</p>
					<br>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-5">
		<div class="explain">
			<div class="ex-container-lend">
				<div class="ex-middle text-center">
					<br>
					<i class="fa fa-suitcase fa-5x" style="color:#FFA500"></i>
					<h2><strong>スーツケースを借りる</strong></h2>
					<p>
						たまにしか使わないスーツケースを購入するのはもったいないと思いませんか？<br>
						それなら、あなたにぴったりなスーツケースを探して、借りましょう！
					</p>
					<p>
						<%= link_to "探す", search_path, class: "btn btn-warning" %>
					</p>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="text-center">
	<h2>思い出に残る旅へ</h2>
	<p>おしゃれなスーツケースとともに、素晴らしい旅にしましょう！</p>
</div>

<br>

<div class="row">
	<div class="col-md-4 col-sm-12">
		<a href="http://caseshare.herokuapp.com/search?utf8=%E2%9C%93&q%5Bcase_type_eq_any%5D%5B%5D=%E3%82%BD%E3%83%95%E3%83%88%E3%82%B1%E3%83%BC%E3%82%B9&start_date=&end_date=&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B">
			<div class="discovery-card" style="background-image: url('/assets/ソフトケース.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>ソフトケース</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="http://caseshare.herokuapp.com/search?utf8=%E2%9C%93&q%5Bcase_type_eq_any%5D%5B%5D=%E3%82%BD%E3%83%95%E3%83%88%E3%82%B1%E3%83%BC%E3%82%B9&start_date=&end_date=&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B">
			<div class="discovery-card" style="background-image: url('/assets/ハードタイプ.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>ハードケース</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="col-md-4 col-sm-6">
		<a href="http://caseshare.herokuapp.com/search?utf8=%E2%9C%93&start_date=&end_date=&q%5Bcase_type_eq_any%5D%5B%5D=%E3%83%AC%E3%82%B6%E3%83%BC%E3%82%B1%E3%83%BC%E3%82%B9&commit=%E6%A4%9C%E7%B4%A2%E3%81%99%E3%82%8B">
			<div class="discovery-card" style="background-image: url('/assets/レザータイプ.JPG')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>レザーケース</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

<br>
<hr>

<div class="text-center">
	<h3>一緒に連れていくスーツケースは見つけましたか？</h3>
	<p>旅の出発前に色々と選ぶのも楽しいですよね。普段どこかで眠っているスーツケースたちがあなたを待っているかもしれません。</p>
</div>

<br>

<%= form_tag search_path, method: :get do %>
	<div class="row">
		<div class="col-md-2">
			<h4><%= check_box_tag "q[case_type_eq_any][]", "ソフトケース" %> ソフトケース</h4>
		</div>
		<div class="col-md-2">
			<h4><%= check_box_tag "q[case_type_eq_any][]", "ハードケース" %> ハードケース</h4>
		</div>
		<div class="col-md-2">
			<h4><%= check_box_tag "q[case_type_eq_any][]", "レザーケース" %> レザーケース</h4>
		</div>
		<div class="col-md-2">
			<%= text_field_tag :start_date, params[:start_date], placeholder: "開始日", class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= text_field_tag :end_date, params[:end_date], placeholder: "返却日", class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= submit_tag "検索する", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>

<hr>

<div class="row">
	<% @suitcases.each do |suitcase| %>
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading preview">
					<%= link_to(suitcase) do%>
						<%= image_tag suitcase.photos[0].image.url(:medium) if suitcase.photos.length > 0 %>
					<% end %>
				</div>
				<div class="panel-body">
					<!--%= link_to image_tag(avatar_url(room.user), user_path(suitcase.user), class: "img-circle avatar-small" %>&nbsp;-->
					<%= link_to suitcase.listing_name, suitcase %>
					<i class="fa fa-star"></i><%= suitcase.likes.length %>
					<!--%= render 'suitcases/like_form', suitcase: @suitcase %-->
				</div>
			</div>
		</div>

	<% end %>
</div>

<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'yy-mm-dd(D)',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});

		$("#end_date").datepicker({
			dateFormat: 'yy-mm-dd(D)',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});
	})


</script>