<!DOCTYPE html>
<html lang="ja">
	<head>
		<%= display_meta_tags default_meta_tags %>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" >
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		
	  <%= csrf_meta_tags %>
	  <meta name="google-site-verification" content="hPp7S_mcyHlKnaRWHLVHQ3YbXGAb6GMYUVCFny3DjUo" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		<%= render 'shared/navbar' %>

		<%= render 'shared/message' %>

		<div class="container">
			<%= yield %>	
		</div>
		
		<%= render 'shared/footer' %>
		
	</body>
</html>