<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
	  <title>caseShare</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" >
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>
		
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<%= render 'shared/navbar' %>

		<%= render 'shared/message' %>

		<div class="container">
			<%= yield %>	
		</div>
		
	</body>
</html>